body {
  padding-top: 60px;
}

.summaries {
}

.summary {
  color: #222;
}

.summary.read {
  opacity: 0.6;
}

.summary.active {
  background-color: #e4e4e4;
  border: 1px solid rgba(0, 0, 0, 0.05); 
  opacity: 1.0;
}

.summary .icon {}
.summary .pub-name {
  font-size: 0.9em;
}
.summary .pub-date {
  font-size: 0.9em;
  text-align: right;
}
.summary .title {}
.summary .description {}

.entries {
}

.entry {
}

.entry.read {
}

.entry.active {
  border: 1px solid #222;
}

.entry .pub-date {
  font-size: 0.9em;
}
.entry .actions {
  text-align: right;
}
.entry .title {}
.entry .author {}
.entry .pub-name {}
.entry hr {}
.entry .post-content {}

.entry .actions div, .entry .actions label {
  display: inline;
}
.entry .actions input[type=checkbox] {
  -webkit-appearance: none;
  -webkit-box-shadow: transparent;
  border: 0;
  display: inline-block;
  font-size: 15px;
  line-height: 1em;
  margin: 0 0.25em 0 0;
  padding: 0;
  width: 1.25em;
  height: 1.25em;
  -webkit-border-radius: 0.25em;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
 }

.entry .actions .star input[type=checkbox] {
  background-position: -144px 0;
}

.entry .actions .star input[type=checkbox]:checked {
  background-position: -120px 0;
}

.entry .actions .read input[type=checkbox] {
  background-position: -192px -96px;
}

.entry .actions .read input[type=checkbox]:checked {
  background-position: -72px -96px
}
