html {
  height: 100%;
}
body {
  height: 100%;
  padding-top: 40px;
  overflow: hidden;
  box-sizing: border-box;
}

section.mainContent {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 0px;
}

.controls {

  box-sizing: border-box;
  padding: 5px;
  width: 50px; 
  background-color: black;
  margin: 0;
}

.controls .btn {
  width: 40px;
  height: 40px;
}

.summaries {
  box-sizing: border-box;
  padding: 10px;
  -webkit-box-flex: 1;
  overflow-y: scroll;
}

.summary {
  color: #222;
}

.summary.read {
  opacity: 0.6;
}

.summary.active {
  background-color: #e4e4e4;
  border: 1px solid rgba(0, 0, 0, 0.05); 
  opacity: 1.0;
}

.summary .icon {}
.summary .pub-name {
  font-size: 0.9em;
}
.summary .pub-date {
  font-size: 0.9em;
  text-align: right;
}
.summary .title {}
.summary .description {}

.entries {
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-flex: 2;
  overflow-y: scroll;
  padding-left: 10px;
}

.entry {
  -webkit-transition: all 0.5s ease-in-out; 
  opacity: 0.3;
}

.entry.read {
}

.entry.active {
  border: 1px solid #222;
  opacity: 1;
}

.entry .pub-date {
  font-size: 0.9em;
}
.entry .actions {
  text-align: right;
}
.entry .title {}
.entry .author {}
.entry .pub-name {}
.entry hr {}
.entry .post-content {}

.entry .actions div, .entry .actions label {
  display: inline;
}
.entry .actions input[type=checkbox] {
  -webkit-appearance: none;
  -webkit-box-shadow: transparent;
  border: 0;
  display: inline-block;
  font-size: 15px;
  line-height: 1em;
  margin: 0 0.25em 0 0;
  padding: 0;
  width: 1.25em;
  height: 1.25em;
  -webkit-border-radius: 0.25em;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
 }

.entry .actions .star input[type=checkbox] {
  background-position: -144px 0;
}

.entry .actions .star input[type=checkbox]:checked {
  background-position: -120px 0;
}

.entry .actions .read input[type=checkbox] {
  background-position: -192px -96px;
}

.entry .actions .read input[type=checkbox]:checked {
  background-position: -72px -96px
}

.entries .extraSpace {
  height: 1000px;
}
